.container__result {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .result {
      width: 100%;
      align-self: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid black;
      border-right: 1px solid black;
      & > span {
        padding: 10px 5px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
          font-weight: 700;
          color:red;
        }
      }
    }
  }
  