$nr-border-color:#7c98b6;
.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    label {
      flex: 1 0 150px;
      max-width: 200px;
    }
    .group__input {
      padding: 1px;
      flex: 1;
    }
    &:last-child {
      justify-content: center;
    }
    .group__button--search {
      padding: 8px 16px;
    }
    input,textarea,textarea:focus{
      outline: none !important;
      border: 1px solid $nr-border-color;
      box-shadow: none;
      font-size: 18px;
    }
  }
  